<ng-container>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="login-form">
            <div class="form-group my-5">
                <label for="username" class="label-user"
                [ngClass]="showErrorUsername ? 'is-error': 'default-color'">Username</label>
                <input type="text" id="username" class="form-control"
                [ngClass]="showErrorUsername ? 'border-error': 'default-border'" placeholder="Username"
                [(ngModel)]="username" (blur)="validateUsername()">
                <label *ngIf="showErrorUsername" class="is-error">La contraseña no cumple con la cantidad minima</label>
            </div>
            <div class="form-group my'4">
                <label for="password" class="label-user"
                [ngClass]="showErrorPassword ? 'is-error': 'default-color'">Password</label>
                <input type="password" id="password" class="form-control" 
                [ngClass]="showErrorPassword ? 'border-error': 'default-border'" placeholder="Password"
                [(ngModel)]="password" (blur)="validatePassword()">
                <label *ngIf="showErrorPassword" class="is-error">La contraseña no cumple con la cantidad minima</label>
            </div>
            <div class="d-flex justify-content-center align-items-center my-5">
                <button class="login-btn" (click)="showeSubmit()">Login</button>
            </div>
        </div>
    </div>
</ng-container>