<ng-container>
    <div class="container d-flex justify-content-center align-items-center">
        <!-- Formulario de inicio de sesión -->
        <form [formGroup]="loginForm" class="login-form">
            <!-- Campo de nombre de usuario -->
            <div class="form-group my-5">
                <label for="username" class="label-user"
                    [ngClass]="{'is-error': loginForm.get('username')?.invalid && loginForm.get('username')?.touched, 'default-color': !loginForm.get('username')?.invalid}">
                    Username
                </label>
                <input type="text" id="username" class="form-control" name="username" formControlName="username"
                    [ngClass]="{'border-error': loginForm.get('username')?.invalid && loginForm.get('username')?.touched, 'default-border': !loginForm.get('username')?.invalid}"
                    placeholder="Username" [(ngModel)]="username" (blur)="loginForm.get('username')?.markAsTouched()">
                <span *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                    class="is-error">Username no cumple las validaciones</span>
            </div>
             <!-- Campo de contraseña -->
            <div class="form-group my'4">
                <label for="password" class="label-user"
                    [ngClass]="{'is-error': loginForm.get('password')?.invalid && loginForm.get('password')?.touched, 'default-color': !loginForm.get('password')?.invalid}">
                    Password
                </label>
                <input type="password" id="password" class="form-control" name="password" formControlName="password"
                    [ngClass]="{'border-error': loginForm.get('password')?.invalid && loginForm.get('password')?.touched, 'default-border': !loginForm.get('password')?.invalid}"
                    placeholder="Password" [(ngModel)]="password" (blur)="loginForm.get('password')?.markAsTouched()">
                <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="is-error">Password no cumple las validaciones</span>
            </div>
             <!-- Botón de inicio de sesión -->
            <div class="d-flex justify-content-center align-items-center my-5">
                <button class="login-btn" (click)="submitForm()" [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </div>
</ng-container>
