<ng-container>
    <div>
        <div>
            <canvas class="mx-auto" id="myPieChart" [ngClass]="customSize ? 'custom-size' : 'generic-size'"></canvas>
        </div>
        <h1 *ngIf="showTite" class="mt-4">Transactions History</h1>
        <span *ngIf="showBody" class="mt-2">
            Lorem ipsum dolor sit amet consectetur adipiscing elit, quisque urna sodales ac est neque ullamcorper, senectus arcu nunc auctor lacus sagittis. 
            Erat ante dictum netus himenaeos platea luctus sociosqu sociis quisque, pharetra ligula non vulputate porta odio ultricies feugiat, 
            hendrerit sapien eros ullamcorper cursus dapibus sagittis donec.
        </span>
    </div>
</ng-container>