<div>
  <div *ngIf="isCurrentBalance">
    <div>
      <h2>Current Balances</h2>
      <table class="table table-striped">
          <thead>
              <tr>
                <th>Account No.</th>
                <th>Balance</th>
                <th>Date of Latest Transfer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let accountInfo of accountsInfo">
                <td>{{accountInfo.idCuenta}}</td>
                <td>{{accountInfo.saldo}}</td>
                <td>21/May/19</td>
              </tr>
            </tbody>
      </table>
  </div>
  </div>

    <div *ngIf="!isCurrentBalance">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Origin Account</th>
              <th>Destinetion Account</th>
              <th>Transfer Date</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transfer of transferAccounts">
              <td>{{transfer.idCuentaOrigen}}</td>
              <td>{{transfer.idCuentaDestino}}</td>
              <td>{{transfer.fecha}}</td>
              <td>{{transfer.monto}}</td>
            </tr>
          </tbody>
    </table>
  </div>
</div>
