<div class="d-flex justify-content-center align-items-center">
    <img class="mt-2" src="https://placehold.co/320x200" alt="Placeholder image" />
  </div>
  <div class="px-6 py-4">
    <h1 class="font-bold text-xl mb-2">Main Expenses</h1>
    <p class="text-zinc-700 text-base">
        Lorem ipsum dolor sit amet consectetur adipiscing elit, quisque urna sodales ac est neque ullamcorper, senectus arcu nunc auctor lacus sagittis. Erat ante dictum netus himenaeos platea luctus sociosqu sociis quisque, pharetra ligula non vulputate porta odio ultricies feugiat, hendrerit sapien eros ullamcorper cursus dapibus sagittis donec. Tempus luctus inceptos eu aptent quis maecenas interdum, senectus iaculis integer hendrerit dui commodo, class erat cum porta nullam libero.

        Varius fames diam ad luctus imperdiet faucibus est risus ridiculus eget morbi justo lacinia bibendum suscipit, class sociis blandit eu litora hac euismod volutpat vitae duis sagittis eleifend lobortis at. Quisque egestas etiam cursus enim interdum cras rutrum, vivamus felis tincidunt cum purus facilisis, magna sapien ornare vestibulum consequat sodales. Rutrum turpis maecenas a donec tristique sociis eleifend semper, bibendum vestibulum erat posuere conubia accumsan dis, nulla mi tempus consequat malesuada condimentum at.
    </p>
  </div>
  
  
